
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Some eye candy:</h2>
                    <hr class="primary">

                    <div class="row text-center">
                        <div class="niceGallery" id="gallery" data-photo-set="{{data-photo-set-id}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>  