

<header class="page-layout">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row no-gutter">
                <div class="col-lg-4">
                    <h1>{{header-text}}</h1>
                </div>
                
                <div class="col-lg-8">
                    <p>
                        {{header-description}}
                    </p>
                </div>
            </div>
            
            <div class="{{page-context-class}} header-img"></div>
            
        </div>
    </div>
</header>
