

    <section class="bg-primary">
        <div class="container-fluid">
            <h2 class="section-heading">Contact us</h2>
            <!-- Add font awesome icons -->
            <div class="text-center">
                <a href="https://www.facebook.com/fugaradesign/" target="_blank" class="fa fa-facebook"></a>
                <a href="https://twitter.com/Fugara_il" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.pinterest.com/fugara1553/" target="_blank" class="fa fa-pinterest"></a>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/main.min.js"></script>
    <script src="js/vendor.min.js"></script>
</body>

</html>

