
{{> 
    project-page-header
    page-context-class="fluid" 
    header-text="Fluid Self" 
    header-description="
                        Fluid Self is a large scale interactive installation amplifying human creativity, allowing visitors to become a part of a working creative mind. Participants in the installation can touch the mechanics of the brain, see information flowing from neuron to neuron, and hear this energy coalescing into a coherent musical entity representing our fluid self.
                    "
}}

   <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">The Installation</h2>
                    <hr class="light">
                    <p class="text-faded">
                        The installation combines physical structure with complex intuitive interaction. 
                    </p>
                    <p class="text-faded">
                        The collapsible steel structure provides the foundation and defines the spaces, allowing for quick assembly and shipping in a small container. 
                    </p>
                    <p class="text-faded">
                        These steel elements anchor textile ‘neurons’ which act both as touch points and light sources, further dividing the space. 
                    </p>
                    <p class="text-faded">
                        Together, these elements create a soft, organic/mechanical space that participants can explore and touch.
                    </p>
                    <!-- <a href="#services" class="page-scroll btn btn-default btn-xl">What We Believe</a> -->
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Challenge</h2>
                    <hr class="primary">
                    <p class="text-muted">
                        The primary challenge with this project was the complex development process. 
                    </p>
                    <p class="text-muted">
                        It was necessary to develop both the metal structure connections, a removable, tentionable system for the the textile neurons, communication and power supply for the sensor network and lighting system, and a three dimensional parametric sound system to create the feeling of movement of sound with light
                    </p>
                </div>
            </div>
        </div>
    </section>  


{{> images-block data-photo-set-id="72157686378985441"}}

