
{{> 
    project-page-header
    page-context-class="forest" 
    header-text="Forest of Creation" 
    header-description="A temporary participatory architectural installation designed and built for the Midburn event, the first official Burning Man event to be held in Israel."
}}


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Installation</h2>
                <hr class="primary">
                    <p class="text-muted">
                        Composed of seven wooden structures of various height ranging up to 9 meters tall, the Forest creates a series of intimate spaces around, between and inside the trees on varying levels. The platforms inside the trees enable various levels of solitude or communal connection, and unique vantage points to see the temporary city and the surrounding nature.
                    </p>
                    <p class="text-muted">
                        Each tree is crowned by a woven tension structure of organic rope and bamboo connecting the trees to the sky and the wind. By cutting a series of slots in a spiral pattern around the bamboo, tens of aeolean flutes were created, creating an ebbing overtone of sound that responded to the wind.
                    </p>
                    <p class="text-muted">
                        At night, an interconnected RF network of controllers controlled a mesh of climbing LED strips and projectors. This lighting system in turn was connected to wind and motion sensors, gently responding to the wind and the presence of participants.
                    </p>
                    <p class="text-muted">
                        Throughout the participatory process which was entirely open to the community, we shared all steps, plans, and discussions, as a method to motivate other artists in the community to embark on similarly challenging journeys, and embrace an organized multi-step development and experimental process.
                    </p>
                    <p class="text-muted">
                        After providing the spiritual center of the event for the participants the Forest of Creation was successfully burnt.
                    </p>
            </div>
        </div>
    </div>
</section>  

{{> images-block data-photo-set-id="72157686379752151"}}

    
