

    <header class="fund-raising">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Fund Raising Party</h1>
                <hr>
                <p>
                    For 12 hours we played music, operated art instalations, served food and drinks and basicaly just fooled around.
                </p>
            </div>
        </div>
    </header>

   <section class="bg-primary" id="about">
        <div class="container">
           <div class="row text-center">
                Thanks:
            </div>
            <div class="row text-center">
                To all of the Midburn community that helped us by setting up installations, working with us to set up this event, performing with live music and circus act.
            </div>
            <div class="row text-center">
                We love you all!
            </div>
        </div>
    </section>

    <section id="services">
            <div class="container">
            <div class="row text-center">
                Pictures coming soon!
            </div>
        </div>
    </section>  

