

{{> 
    project-page-header
    page-context-class="fund-raising" 
    header-text="Fund Raising Party" 
    header-description="
                     For 12 hours we played music, operated art instalations, served food and drinks and basicaly just fooled around.
                    "
}}

   <section class="bg-primary" id="about">
        <div class="container">
           <div class="row text-center">
                Thanks:
            </div>
            <div class="row text-center">
                To all of the Midburn community that helped us by setting up installations, working with us to set up this event, performing with live music and circus act.
            </div>
            <div class="row text-center">
                We love you all!
            </div>
        </div>
    </section>

    {{> images-block data-photo-set-id="72157686379423491"}}
