
{{> 
    project-page-header
    page-context-class="hand" 
    header-text="Hand of Inspiration" 
    header-description="A temporary site specific installation designed and built for the Burning Man event at Black Rock City, Nevada 2013."
}}


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Installation</h2>
                <hr class="primary">
                    <p class="text-muted">
                        As a Burning Man C.O.R.E Project, the Hand officially represented the Israeli burning man community for the first time at the international event. 
                    </p>
                    <p class="text-muted">
                        After being seen by the 67,000 participants, it was successfully burned.
                    </p>
                    <p class="text-muted">
                        Standing over 6 meters tall, the Hand is lined with programmable RGB LED lights linked through a custom built interface to a series of drums which surround the stage at its base. At night, Piezo sensors in the drums activated the controllers, sending streams of light from participants through the stage and up the installation, creating an interactive and psychedelic light display.
                    </p>
                    <p class="text-muted">
                        The installation is designed in the image of a Chamsa, a multicultural symbol that is instantly recognizable to people in the middle-east. The structure was designed be easily constructed by a volunteer non-professional team, be connected to the natural and artistic surroundings, and be approachable to participants. The seats, drums and dance stage encourage approach and create interaction both between the installation and participants and between the participants themselves.
                    </p>
            </div>
        </div>
    </div>
</section>  

{{> images-block data-photo-set-id="72157688862698026"}}

    
