<span class="index-page">
    <header class="index">
        <video class="header-background" poster="../img/header.jpg" id="bgvid" playsinline="" autoplay="" muted="" loop="">
            <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
            <source src="../videos/fugara_logistics.mp4" type="video/webm">
            <source src="../videos/fugara_logistics.mp4" type="video/mp4">
        </video>
        <div class="header-content">
            <div class="header-content-inner">
                <img src="img/fugara-logo.jpg" alt="Fugara Collective">
            </div>
        </div>
    </header>
    

    <section id="portfolio">
        <div class="container-fluid">
            <h2 class="section-heading">Projects</h2>
            <div class="row no-gutter">
                {{> project-link-partial html-file="fugatron.html" img-src="fugatron.jpg" project-description="Fugara Camp" project-context="Midburn 2016" alt-text="Fugara Camp"}}
                {{> project-link-partial html-file="jellyfishes.html" img-src="jellyfishes.jpg" project-description="Magic Jellyfishes" project-context="Midburn 2017" alt-text="Magic Jellyfishes"}}
                {{> project-link-partial html-file="fluid.html" img-src="fluid.jpg" project-description="Fluid Self" project-context="Midburn 2015" alt-text="Fluid Self"}}
                {{> project-link-partial html-file="swirl.html" img-src="swirl.jpg" project-description="Swirl" project-context="Jerusalem Light Festival" alt-text="Fugara at Jerusalem Light Festival"}}
                {{> project-link-partial html-file="tunnel.html" img-src="tunnel.jpg" project-description="Time Tunnel" project-context="Midburn Decompression 2015" alt-text="Fugara Time Tunnel"}}
                {{> project-link-partial html-file="fund-raising.html" img-src="fund_raising.jpg" project-description="Fund Raising Party" project-context="Chavat David" alt-text="Fugara T-compression Party"}}
                {{> project-link-partial html-file="logistics.html" img-src="logistics.jpg" project-description="Logistics of Creation" project-context="Midburn 2017" alt-text="Logistics of Creation"}}        
                {{> project-link-partial html-file="hand.html" img-src="hand.jpg" project-description="Hand of Inspiration" project-context="Burning Man 2013" alt-text="Hand of Inspiration"}}
                {{> project-link-partial html-file="forest.html" img-src="forest.jpg" project-description="Forest of Creation" project-context="Midburn 2014" alt-text="Forest of Creation"}}
            </div>
        </div>
    </section>


    <section class="parallax fugara-camp-bg"></section>

    
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Who we are</h2>
                    <hr class="light">
                    <p class="text-faded">
                        Fugara is an interdisciplinary group of artists, designers, and makers creating interactive and immersive experiences through large scale installations. 
                    </p>
                    <p class="text-faded">
                        Our tools are wood, metal, electronics, light, sound and fire.
                    </p>
                    <p class="text-faded">
                        The installations guide journeys of discovery, connecting participants to each other, to concepts and to themselves.
                    </p>
                    <p class="text-faded">
                        Fugara was founded in 2014 by core members of the group who participated in projects within the newborn Israeli Burning Man community "Midburn".
                    </p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl">What We Believe</a>
                </div>
            </div>
        </div>
    </section>


    <section class="module parallax sea-garden-bg"></section>

    
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Believe</h2>
                    <hr class="primary">
                    <p class="text-muted">
                        We approach our work in a collaborative participation model. 
                    </p><p class="text-muted">Decisions are made collaboratively during weekly meetings. 
                    </p><p class="text-muted">Membership is defined primarily by participation and skill, with each member bringing their own unique background and experience to the table.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="parallax fugatron-build-bg"></section>


</span>