
{{> 
    project-page-header
    page-context-class="jellyfishes" 
    header-text="Magic Jellyfishes" 
    header-description="
                    An art installation that tells the story of underwater beings drawing their energy from the sun during the day only to gloriously disperse it at night giving stage to other nearby sea occurrences.
                    "
}}


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Installation</h2>
                <hr class="primary">
                <p class="text-muted">
                    The project has been led by Noam Cohen from concept through experimentation to the final construction in Tel Aviv and on the playa.
                </p>
                <p class="text-muted">
                    The installation was comprised of some 60 jellyfishes equipped with batteries and a solar panel which would charge during the day and spread light during the night. At the center of the jellyfish was a motion sensor which, when triggered by a strong wind (or motion of the swings) emitted a strong white pulse of light, illuminating the jellyfish in all of its glory.
                </p>
            </div>
        </div>
    </div>
</section>  

{{> images-block data-photo-set-id="72157686378627561"}}

    
