

    <header class="lamp">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Swirl - Street Lighting</h1>
                <hr>
                <p>
                    The installation explores the urban life as a constant pursuit of the unattainable.
                    We use light as our material, like painting a graffiti on a wall.
                    Swirl moves with the crowd and paints the alley with live images of light.
                </p>
            </div>
        </div>
    </header>

   <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">The Installation</h2>
                    <hr class="light">
                    <p class="text-faded">
                        Swirl was first presented as part of the Jerusalem Light Festival in one of the old city's alleys .
                    </p>
                    <p class="text-faded">
                        The installation senses the crowd and swirls as people pass it creating an interaction with human presence.
                    </p>
                    <!-- <a href="#services" class="page-scroll btn btn-default btn-xl">What We Believe</a> -->
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Challenge</h2>
                    <hr class="primary">
                    <p class="text-muted">
                        There were various challenges in the making of Swirl from designing its patternes, 3D printing various materials to investigate which one gave the most detailed light spreading and the motion mechanisms to detect human presence.
                    </p>
                </div>
            </div>
        </div>
    </section>  


    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row text-center">
                Thanks:
            </div>
            <div class="row text-center">
                To <a class="white-link" href="https://www.facebook.com/fablabilholon/?fref=ts">Fablabil</a> for providing us with 3D printing equipment in order to experiment and create Swirl!
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Some eye candy:</h2>
                    <hr class="primary">

                    <div class="row text-center">
                        <div class="niceGallery" id="gallery" data-photo-set="72157672321097141"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>  

    
