
{{> 
    project-page-header
    page-context-class="logistics" 
    header-text="Logistics of Creation" 
    header-description="
                    An art installation that tells the story of a time before man when the earth was covered in water and life has only just begun emerging from the ocean floors as a group of random interactions transforming into living beings.
                    "
}}


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Installation</h2>
                <hr class="primary">
                <p class="text-muted">
                    The “Logistics of Creation” is a large parametric structure made out of wooden plates shaped as a large octopus emerging from the dust.
                </p>
                <p class="text-muted">
                    The project was led by Matan Zohar and Arnon Hecht from concept to manufacture and finally to construction on the playa.
                </p>
                <p class="text-muted">
                    The structure was modeled using Grasshopper on top of Rhino using an algorithm developed by Matan which faced many challenges in the fields of geometry due to it’s fine details and convex shapes.
                </p>
                <p class="text-muted">
                    The structure is comprised of some 250 different plates each connected by it’s own unique wooden connector with a specific angle - a building method also developed by Matan.
                </p>
                <p class="text-muted">
                    The installation was lit from inside by some 60 DMX lights controlled by a PC with light sequences created on Unity by the talented Yoav Ben, Yaron Dinur and Eyal Hariri in order to create a deep sea atmosphere through our “Under Water Garden”.
                </p>
                <p class="text-muted">
                    The structure was covered with wooden boards which were milled according to 3D models which we created using Grasshopper for Rhino.
                </p>
            </div>
        </div>
    </div>
</section>  

{{> images-block data-photo-set-id="72157686379581401"}}

    
