
    <header class="tunnel">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Time Tunnel</h1>
                <hr>
                <p>
                    The Time Tunnel is a 40 meters long underground tunnel going underneath an amphitheater which creates a sense of movement through a worm hole.
                </p>
                <p>
                    It was set to be the entrance to the Midburn Decompression Party and conveyed the sense of moving transitioning to another dimention in time and space.
                </p>
            </div>
        </div>
    </header>

   <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">The Installation</h2>
                    <hr class="light">
                    <p class="text-faded">
                        At he eclipse of 2015’s summer, a few months after Midburn 2015’s celebration we were asked to build an installation for Midburn's decompression party.
                    </p>
                    <p class="text-faded">
                        The theme was Time Travel so pretty fast the theme was set on building a time tunnel.
                    </p>
                    <p class="text-faded">
                        The settings was a huge amphitheater which it’s surroundings were to be a playground with music, installations and art and it’s inner was to be the main event with music, DJs and performances.
                    </p>
                    <p class="text-faded">
                        We were tasked with creating the entrance to that main area through 3X3 meters, 40 meters long tunnel going underneath the terraces in the middle of the shoe horn shaped gallery.   
                    </p>

                    <p class="text-faded">
                        The main concept was to create a sense of movement through a worm hole by layering the walls with sheets of fabric twisted in a spiral shape along with perspecs cubes hanging throughout the tunnel giving the sense of detached particles floating in space. 
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row text-center">
                Pictures comming soon!!!
        </div>
    </section>  
